#!/usr/bin/env sh
# shellcheck shell=bash

# ================================================
# General Vars
# ================================================
# Add them here...
# PROJECT_DIR="$PWD"
# export PROJECT_DIR


# ================================================
# PATH
# ================================================
DIR_BIN=$PWD/bin
if [[ -d "$DIR_BIN" ]]; then
    PATH_add "$DIR_BIN"
fi


# ================================================
# Env file
# ================================================
ENV_FILE=$PWD/../.env
if [[ -f "$ENV_FILE" ]]; then
    # shellcheck disable=SC1091
    dotenv "$ENV_FILE"
fi


# ================================================
# TO-DOs
# ================================================
TODO_DIR=$PWD/to-do
TEMPLATE_TODO_CONFIG=$HOME/.todo/config
if [ -d "$TODO_DIR" ] \
    && [ ! -f "$TODO_DIR/config" ] \
    && [ -f "$TEMPLATE_TODO_CONFIG" ]; then
    cp "$TEMPLATE_TODO_CONFIG" "$TODO_DIR/config"
fi
# shellcheck disable=SC1091
if [[ -f "$TODO_DIR/config" ]] && command -v todo.sh >/dev/null 2>&1; then
    . "$TODO_DIR/config"
fi


# ================================================
# Python
# ================================================

# ------------------------------------------------
# UV
# ------------------------------------------------
_uv_lock=$(find "$PWD" -maxdepth 2 -name "uv.lock" 2>/dev/null | head -1)
if [ -n "$_uv_lock" ] || [ -f "$PWD/uv.toml" ]; then
    UV_NATIVE_TLS=true
    UV_PROJECT=$PWD/code
    UV_PROJECT_ENVIRONMENT=$PWD/.venv
    export UV_NATIVE_TLS UV_PROJECT UV_PROJECT_ENVIRONMENT

    CUSTOM_PS1="(uv) "
    export CUSTOM_PS1
fi
unset _uv_lock

# ------------------------------------------------
# Variables
# ------------------------------------------------
PYTHONPATH=$PYTHONPATH:$PWD:$PWD/src:$PWD/tests
MYPYPATH=$PYTHONPATH
export PYTHONPATH MYPYPATH

SSL_CERT_FILE="/etc/ssl/certs/ca-certificates.crt"
REQUESTS_CA_BUNDLE="/etc/ssl/certs/ca-certificates.crt"
CURL_CA_BUNDLE="/etc/ssl/certs/ca-certificates.crt"
export SSL_CERT_FILE REQUESTS_CA_BUNDLE CURL_CA_BUNDLE
