# Não confundir este arquivo com o .env na pasta raiz do projeto.
# Este é um arquivo dentro da pasta .claude, a ser utilizado por
# agentes LLM, cuja informação pode ser submetida a um modelo
# de linguagem (aviso de privacidade).

# Branch principal usado no repositório
GIT_MAIN_BRANCH=master

# Número máximo de iterações no development workflow (definir um limite para evitar loops infinitos)
DEV_FLOW_MAX_ITERATIONS=3
