#!/usr/bin/bash

# ================================================
# TO-DOs
# ================================================
TODO_DIR=$PWD/to-do
TEMPLATE_TODO_CONFIG=$HOME/.todo/config
if [ -d "$TODO_DIR" ] \
    && [ ! -f "$TODO_DIR/config" ] \
    && [ -f "$TEMPLATE_TODO_CONFIG" ]; then
    cp "$TEMPLATE_TODO_CONFIG" "$TODO_DIR/config"
fi
# shellcheck disable=SC1091
[[ -f "$TODO_DIR/config" ]] && . "$TODO_DIR/config"


# ================================================
# PATH
# ================================================
DIR_BIN=$PWD/bin
if [[ -d "$DIR_BIN" ]]; then
    PATH_add "$DIR_BIN"
fi


# ================================================
# Env file
# ================================================
if [[ -f .env ]]; then
    # shellcheck disable=SC1091
    dotenv .env
fi
