# ================================================
# Opt-In strategy (in use, comment to not use)
# ================================================
*
!/.gitignore
!/config
!/todo.txt

#=================================================
# Opt-Out strategy (not in use, uncomment to use)
#=================================================
#todo.txt.bak

